VITE_SUPABASE_URL=https://jviwwhjwtyneqrguumro.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2aXd3aGp3dHluZXFyZ3V1bXJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODE2NTcsImV4cCI6MjA5MDM1NzY1N30.rISa3GfKeTWDqMmLCTzxrEJMOD6t0CAjf7A74SoXy5o
